body {font-family: monospace;margin: 0;font-size: 30px;}

:root {
  --step-up-5: 2em;
  --step-up-4: 1.7511em;
  --step-up-3: 1.5157em;
  --step-up-2: 1.3195em;
  --step-up-1: 1.1487em;
  /* baseline: 1em */
  --step-down-1: .8706em;
  --step-down-2: .7579em;
  --step-down-3: .6599em;
  --step-down-4: .5745em;
  --step-down-5: .5em;
  background: whitesmoke;
}

td {}

nav {padding-bottom: 1rem;margin-bottom: 5rem;display: inline-block;width: 100%;border-bottom: dashed 1px;}

nav * {
  vertical-align: top;
  font-size: var(--step-down-3);
}

nav h1 {
 font-size: var(--step-up-5);
 margin: 0;
 display: inline-block;
}

h1, h2 {
  font-family: helvetica;
}

h2 {
  margin: 0;
  border-bottom: solid 1px black;
  padding-bottom: 1.25rem;
  color: white;
  background: pink;
  padding: 1.25rem;
}

h2 span {
  display: inline-block;
  letter-spacing: 4px;
  transform: rotate(-30deg);
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}


a:link:after, a:visited:after {
  content: "↝";
  vertical-align: top;
  display: inline-block;
}


a:hover:after, a:active:after {
  content: "↝";
}

a:hover, a:active {
  background: pink;
  text-decoration: none;
}


.webring {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 15px;
}

.webring a {height: 100%;display: inline-block;width: 100%;padding: .25em 0;}


.webring a:link:after, .webring a:visited:after {
  content: none;
  background: none;
}

.webring a:hover:after, .webring a:active:after {
  content: none;
  background: none;
}


.webring a:hover, .webring a:active {
}

#content-wrap {padding-top: 100px;margin-left: 100px;margin-right: 310px;}

section {
  margin-right: 2.5rem;
  margin-bottom: 3.75rem;
  border: solid 1px;
}

#sections>section {vertical-align: top;display: inline-block;max-width: 800px;font-size: var(--step-up-1);}

#sections>section>h2 {
  font-size: var(--step-up-5);
}

#sections>section>*{

font-size: var(--step-down-4);
}

hr {
  margin: 2em 0;
}

li {
  list-style: none;
}

.caption {

margin-top: -5rem;

margin-bottom: 2.4rem;

border-color: transparent;

font-size: var(--step-down-3);
}

section>p, section>ul, section>ol {
    margin: 1em 0;
    padding: 0px 40px;
}

#sections {

display: flex;

flex-wrap: wrap;

align-items: flex-start;

justify-content: flex-start;
}

#randomizer {
  position: fixed;
  cursor: pointer;
  bottom: 1rem;
  right: 1rem;
}

.pos-1 {
  order: 1;
}

.pos-2 {
  order: 2;
}

.pos-3 {
  order: 3;
}

.pos-4 {
  order: 4;
}
