body {
  overflow-x: hidden;
  margin: 0;
  font-size: 25px;
  font-family: 'Crimson Text', serif;
}

h1,
h2,
h3 {
  letter-spacing: -1px;
  font-family: helvetica, sans-serif;
}

figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  text-align: left;
}

b {
  font-family: helvetica, sans-serif;
}

hr {
  margin: 50px 0;
  border-color: black;
}

#splash {
  position: relative;
  z-index: 100;
  width: 100vw;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 50px;
  width: 350px;
  background: white;
}

#prelude {
}

#prelude * {
  width: 100%;
}

#header > h1 {
  margin: 0;
}

#contents h2 {
  margin-top: 0;
}

#container {
  left: 0;
  margin: auto auto 50px;
  padding: 0 250px 50px;
  max-width: 800px;
}

#contents {
  position: fixed;
  top: 50px;
  left: 50px;
}

.section {}

.highlight {
  background: palegreen;
}
