body {
  margin: 0;
  font-size: 193px;
}

.word {
  margin-top: 0;
  margin-right: .5em;
  padding-bottom: .7em;
}

.word:last-child {
  margin-right: 0;
}

.header {
  display: flex;
  font-size: 2em;
  margin-bottom: 0;
  justify-content: center;
  border: solid;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.date,
.name,
.subheader,
.title {
  display: flex;
  justify-content: center;
  font-size: .5em;
}

.subheader {
  flex-wrap: wrap;
  font-size: .25em;
  margin: 0 2.5em;
  padding-bottom: 1em;
  margin-top: -.5em;
  justify-content: flex-start;
}

.subheader > * {
  padding-bottom: .125em;
}

.location {
  position: relative;
  margin: 10px;
  margin-top: 1em;
}

.location-wrapper {

}

.map {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 600px;
}

.pano {
  width: 100%;
  height: 100%;
}

.info {display: flex;justify-content: space-between;position: absolute;top: 0;z-index: 100;filter: invert(100);right: .25em;pointer-events: none;left: .25em;}
