.a.calligraphic:before {
  height: .34em;
  border-bottom-width: .05em;
}

.b.calligraphic:before {border-bottom-width: .05em;height: .39em;}

.c.calligraphic:after {border-bottom-width: .05em;border-right: none;}

.d.calligraphic:before {border-bottom-width: .05em;height: .39em;}

.e.calligraphic:before {border-bottom-width: .05em;border-right: none;width: .26em;}

.f.calligraphic:after {border-top-width: .05em;border-right: none;height: .7em;border-top-right-radius: 0;border-top-left-radius: .1em;}

.g.calligraphic:before {border-bottom-width: .05em;height: .85em;border-left: none;width: .26em;}

.h.calligraphic {
  overflow: visible;
  height: .5em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
}

.h.calligraphic:before {
  content: "";
  width: .25em;
  height: .45em;
  border: solid .01em black;
  border-top: solid .05em black;
  border-bottom: none;
  border-top-right-radius: .1em;
}

.h.calligraphic:after {
  position: absolute;
  content: "";
  left: 0;
  height: .8em;
  background: black;
  width: .01em;
}


.i.calligraphic {
  overflow: visible;
  height: .5em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  width: .025em;
  position: relative;
}

.i.calligraphic:after {
  content: "";
  left: .0075em;
  position: absolute;
  height: .4em;
  border-left: solid .01em black;
}

.i.calligraphic:before {
  content: "";
  top: 0;
  width: .025em;
  height: .05em;
  background: black;
  position: absolute;
}

.j.calligraphic {
  overflow: visible;
  display: inline-flex;
  width: .1em;
  height: .5em;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
}

.j.calligraphic:after {
  content: "";
  top: 0;
  right: 0;
  width: .025em;
  height: .05em;
  background: black;
  position: absolute;
}

.j.calligraphic:before {
  content: "";
  height: .7em;
  border-right: solid .01em black;
  border-bottom: solid .01em transparent;
  right: 0;
  border-bottom-right-radius: .3em;
  border-bottom-left-radius: .1em;
  border-left: solid .01em transparent;
  bottom: -.31em;
  right: .006em;
  position: absolute;
  width: .4em;
}

.k.calligraphic {
  overflow: visible;
  height: .5em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
  width: .2em;
}

.k.calligraphic:after {
  content: "";
  width: .25em;
  height: .8em;
  border: solid .01em black;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.k.calligraphic:before {
  content: "";
  width: .24em;
  bottom: .15em;
  left: .11em;
  height: .25em;
  position: absolute;
  transform: skew(5deg) rotate(-35deg);
  transform-origin: bottom right;
  border-left: solid .01em black;
  border-top: solid .01em black;
}

.l.calligraphic {
  overflow: visible;
  height: .5em;
  display: inline-flex;
  width: .01em;
  align-items: flex-end;
  vertical-align: bottom;
}

.l.calligraphic:after {
  content: "";
  width: .01em;
  background: black;
  height: .8em;
  border-bottom: none;
}

.o.calligraphic:after {
  border-bottom-width: .05em;
  height: .4em;
}

.p.calligraphic:before {border-bottom-width: .05em;height: .4em;}

.q.calligraphic:after {border-bottom-width: .05em;height: .4em;border-bottom-right-radius: 0;}

.s.calligraphic:before {border-bottom-width: .05em;height: .19em;}

.u:after {

border-bottom-width: .05em;

height: .4em;
}

.v.calligraphic:before {
  content: "";
  position: absolute;
  width: .25em;
  transform: skewX(15.75deg);
  height: .44em;
  transform-origin: top left;
  border-left: solid .01em black;
}

.v.calligraphic:after {
  content: "";
  position: absolute;
  width: .25em;
  height: .44em;
  border-right: solid .01em black;
  transform: skewX(-15.75deg);
  transform-origin: top right;
}

.w.calligraphic {
  overflow: visible;
  height: .5em;
  width: .52em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
}

.w.calligraphic:before {
  content: "";
  position: absolute;
  width: .01em;
  transform: skewX(15.75deg);
  height: .44em;
  transform-origin: top left;
  background: black;
}

.w.calligraphic:after {
  content: "";
  position: absolute;
  left: .25em;
  width: .01em;
  height: .44em;
  background: black;
  transform: skewX(-15.75deg);
  transform-origin: top right;
}

.w.calligraphic:after,
.w.calligraphic:before {
  box-shadow: .25em 0 black;
}

.x.calligraphic {
  overflow: visible;
  height: .5em;
  width: .27em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
}

.x.calligraphic:before {
  content: "";
  position: absolute;
  width: .25em;
  transform: skewX(30.5deg);
  height: .44em;
  transform-origin: top left;
  border-left: solid .01em black;
}

.x.calligraphic:after {
  content: "";
  position: absolute;
  width: .25em;
  height: .44em;
  border-right: solid .01em black;
  transform: skewX(-30.5deg);
  transform-origin: top right;
}

.y.calligraphic:after {border-bottom-width: .05em;height: .4em;}

.y.calligraphic:before {border-bottom-width: .05em;border-left: none;}

.z:before {height: .4em;transform: skewX(-31deg);bottom: .05em;}

.z.calligraphic:after {

border-bottom-width: .05em;

height: .4em;
}

.zero {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
}

.zero:after {
  content: "";
  width: .25em;
  height: .69em;
  border: solid .01em black;
  border-top-width: .05em;
  border-bottom: solid .05em black;
  border-radius: .1em;
}

.zero:before {
  content: "";
  width: .01em;
  height: .73em;
  background: black;
  transform: skew(-15deg);
  bottom: .03em;
  left: .03em;
  transform-origin: bottom left;
  position: absolute;
}

.one {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  width: .25em;
  position: relative;
}

.one:after {
  content: "";
  width: .125em;
  height: .75em;
  border: solid .01em black;
  border-top: solid .05em black;
  border-bottom: none;
  border-left: none;
  transform: skewY(-25deg);
  transform-origin: top;
  margin-bottom: -.027em;
}

.one:before {
  content: "";
  width: .25em;
  position: absolute;
  height: .05em;
  background: black;
}

.two {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-start;
  vertical-align: bottom;
  width: .256em;
  position: relative;
}

.two:after {
  content: "";
  width: .25em;
  height: .69em;
  border: solid .01em black;
  border-right: none;
  border-left: none;
  border-top-width: .05em;
  border-bottom-width: .05em;
  position: absolute;
  border-top-left-radius: .1em;
  border-right: solid transparent .01em;
  border-top-right-radius: .1em;
  bottom: 0;
}

.two:before {
  content: "";
  width: .25em;
  height: .74em;
  margin-left: -.25em;
  position: absolute;
  bottom: .05em;
  border-right: black solid .01em;
  border-radius: 100%;
  border-bottom-right-radius: 0;
  border-top: solid transparent;
  transform: skewX(-22.7deg);
  transform-origin: bottom left;
}

.three {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
  width: .27em;
}

.three:before {
  content: "";
  width: .26em;
  height: .35em;
  border: solid .01em black;
  border-bottom: solid .05em black;
  border-radius: .1em;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.three:after {
  position: absolute;
  top: 0;
  content: "";
  width: .26em;
  height: .34em;
  border: solid .01em black;
  border-top: solid .05em black;
  border-radius: .1em;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.four {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
  width: .27em;
}

.four:after {
  content: "";
  width: .25em;
  height: .39em;
  border: solid .01em black;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: absolute;
  top: 0;
}

.four:before {
  content: "";
  height: .7em;
  border-right: solid .01em black;
  position: absolute;
  right: 0;
  border-left: solid .01em transparent;
  width: .25em;
}

.five {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
  width: .27em;
}

.five:after {
  content: "";
  width: .26em;
  height: .34em;
  border: solid .01em black;
  border-right: none;
  border-top-width: .05em;
  border-top-right-radius: 0;
  border-bottom: none;
  border-top-left-radius: 0;
  position: absolute;
  top: 0;
}

.five:before {
  content: "";
  height: .353em;
  border-right: solid .01em black;
  position: absolute;
  right: 0;
  width: .26em;
  border-bottom: solid .05em black;
  border-left: none;
  border-bottom-right-radius: .1em;
  border-top-right-radius: .1em;
  border-top: solid .01em black;
}

.six {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
  width: .27em;
}

.six:after {
  content: "";
  width: .26em;
  height: .34em;
  border: solid .01em black;
  border-right: none;
  border-top-width: .05em;
  border-top-right-radius: 0;
  border-bottom: none;
  border-top-left-radius: 0;
  position: absolute;
  border-radius: .1em;
  border-bottom-left-radius: 0;
  top: 0;
  border-right: .01em transparent;
}

.six:before {
  content: "";
  height: .353em;
  position: absolute;
  right: 0;
  width: .25em;
  border: solid .01em black;
  border-bottom: solid .05em black;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
  border-top-right-radius: .1em;
}

.seven {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  width: .27em;
  position: relative;
}

.seven:after {
  content: "";
  height: .748em;
  border: solid .01em black;
  border-bottom: none;
  border-top: 0;
  border-left: none;
  transform: skewx(-19.2deg);
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
}

.seven:before {
  content: "";
  width: .27em;
  position: absolute;
  top: 0;
  height: .34em;
  right: 0;
  border-top: solid .05em black;
  border-bottom: .01em black solid;
}

.eight {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  position: relative;
  width: .27em;
}

.eight:before {
  content: "";
  width: .25em;
  height: .35em;
  border: solid .01em black;
  border-bottom: solid .05em black;
  border-radius: .1em;
}

.eight:after {
  position: absolute;
  top: 0;
  content: "";
  width: .25em;
  height: .34em;
  border: solid .01em black;
  border-top: solid .05em black;
  border-radius: .1em;
}

.nine {
  overflow: visible;
  height: .8em;
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  width: .27em;
  position: relative;
}

.nine:after {
  content: "";
  height: .718em;
  border: solid .01em black;
  border-bottom: none;
  border-top: 0;
  border-left: none;
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
  right: 0;
}

.nine:before {
  content: "";
  width: .25em;
  position: absolute;
  top: 0;
  height: .34em;
  right: 0;
  border: .01em black solid;
  border-top: solid .05em black;
  border-radius: .1em;
}
